<{{ container }} class="flexible-image {{ classes }}" style="position: relative; height: 0; padding-bottom: {{  aspect_padding_bottom }}%">
{% if background_image %}
    <div class="flexible-image-image"
        style="position: absolute; height: 100%; width: 100%; background-image: url({{ image.url }}); background-size: cover;"
        data-native-size="{{ image.width }}"
        {% if image_sizes_json %}data-sizes="{{ image_sizes_json }}"{% endif %}>
    </div>
{% else %}
<img src="{{ image.url }}"
    {% if image_sizes %}srcset="{% for size in image_sizes %}{{ size.url }} {{size.width}}w{% if not forloop.last %}, {% endif %}{% endfor %}"{% endif %}
    alt="{{ alt }}"
    class="flexible-image-image"
    style="position: absolute; height: 100%; width: 100%;"
    {% if image_sizes_json %}data-sizes="{{ image_sizes_json }}"{% endif %}
    data-native-size="{{ image.width }}" />
{% endif %}
</{{ container }}>
