{% load flexible_images %}<!DOCTYPE html>
<html>
<head>
    <title>Responsive image test</title>
    <style type="text/css">
    body>div {
        margin-bottom: 1em;
    }

    .test-no-css {
        height: 200px;
        background-size: cover;
    }

    .test-no-css-inner {
        height: 200px;
        background-size: 20%;
    }
    </style>
    <script src="/static/flexible-images/flexible-images.js"></script>
</head>
<body>

    {% flexible_image image_1 alt="I am a full-width responsive image!" %}

    <p>Two-up:</p>

    <div style="width: 49%; float: left; margin-right: 1%;">
        {% flexible_image image_2 container="section" alt="I am on the left" %}
    </div>

    <div style="width: 49%; float: left; margin-left: 1%;">
        {% flexible_image image_1 container="section" alt="I am on the right" %}
    </div>

    <p>Background image:</p>

    {% flexible_image image_1 container="section" background_image=True %}

    <p style="clear: both;">
        Three-up:
    </p>

    <div style="width: 32.33%; float: left;">
        {% flexible_image image_2 container="section" %}
    </div>

    <div style="width: 32.33%; float: left; margin-left: 1.5%;">
        {% flexible_image image_1 container="section" %}
    </div>


    <div style="width: 32.33%; float: left; margin-left: 1.5%">
        {% flexible_image image_2 container="section" %}
    </div>

    <p style="clear: both">Hooray!</p>

    <p>Testing the 'no_css' option, with <tt>classes</tt> and
    <tt>inner_classes</tt>:</p>

    {% flexible_image image_2 background_image=True no_css=True classes="test-no-css" inner_classes="test-no-css-inner" %}

    <p>Testing <tt>aria_hidden</tt>:</p>

    {% flexible_image image_1 alt="I am a full-width responsive image!" aria_hidden=True %}


</body>
</html>
